* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font: inherit;
    color: inherit;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    display: flex;
    padding: 50px;
}

img {
     
}

